#subtract {
  -webkit-animation: speed 2s;
  animation: speed 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes speed {
  from {
    d: path();
  }
  2.5% {
    d: path(
      "M800 0H0V675H800V0ZM106 233H12V644H686V233H602V209H680V1H69V209H106V233Z"
    );
  }
  5% {
    d: path(
      "M800 0H0V675H800V0ZM106 233H12V644H686V233H602V209H738V1H127V166H106V233Z"
    );
  }
  7.5% {
    d: path("M800 0H0V675H800V209H602V233H686V644H12V233H106V166H207V1H800V0Z");
  }
  10% {
    d: path("M259 0H0V675H800V208H602V233H686V644H12V233H106V166H259V0Z");
  }
  12.5% {
    d: path("M371 0H0V675H800V208H602V233H686V644H12V233H106V166H371V0Z");
  }
  15% {
    d: path("M474 0H0V675H800V208H602V233H686V644H12V233H106V166H474V0Z");
  }
  17.5% {
    d: path(
      "M671 0H0V675H800V208H671V0ZM106 233H12V644H686V233H505V166H106V233Z"
    );
  }
  21.1111% {
    d: path(
      "M671 0H0V675H800V208H671V0ZM106 233H12V644H686V233H505V205H106V233Z"
    );
  }
  24.7777% {
    d: path("M0 0H671V208H800V675H686V276H12V675H0V0Z");
  }
  28.3333% {
    d: path(
      "M0 0H671V208H800V675H618.885L727.942 633.813L582.732 249.32L0 469.397V0ZM0 587.223L33.1504 675H0V587.223Z"
    );
  }
  31.9999% {
    d: path(
      "M0 0H671V208H800V627.022L589.898 308.874L57.375 660.547L66.9197 675H0V0ZM781.312 675L800 662.658V675H781.312Z"
    );
  }
  35.5% {
    d: path(
      "M0 0H671V208H800V404.296L498.928 283.544L341.925 675H0V0ZM784.75 675L800 636.976V675H784.75Z"
    );
  }
  39.1111% {
    d: path("M0 0H671V208H800V322.527L477.513 371.836L523.868 675H0V0Z");
  }
  42.7777% {
    d: path(
      "M0 0H671V208H741.437L482 381.229L678.155 675H0V0ZM678.882 675L800 594.128V675H678.882Z"
    );
  }
  46.3333% {
    d: path(
      "M0 0H671V208H800V217.186L581.933 362.792L733.71 590.101L800 545.838V675H0V0Z"
    );
  }
  42.7777% {
    d: path("M800 0H0V675H674V297H772V271H726V63H800V0Z");
  }
  to {
    d: path("M800 0H0V675H674V297H772V271H726V63H800V0Z");
  }
}
@-webkit-keyframes speed {
  from {
    d: path();
  }
  2.5% {
    d: path(
      "M800 0H0V675H800V0ZM106 233H12V644H686V233H602V209H680V1H69V209H106V233Z"
    );
  }
  5% {
    d: path(
      "M800 0H0V675H800V0ZM106 233H12V644H686V233H602V209H738V1H127V166H106V233Z"
    );
  }
  7.5% {
    d: path("M800 0H0V675H800V209H602V233H686V644H12V233H106V166H207V1H800V0Z");
  }
  10% {
    d: path("M259 0H0V675H800V208H602V233H686V644H12V233H106V166H259V0Z");
  }
  12.5% {
    d: path("M371 0H0V675H800V208H602V233H686V644H12V233H106V166H371V0Z");
  }
  15% {
    d: path("M474 0H0V675H800V208H602V233H686V644H12V233H106V166H474V0Z");
  }
  17.5% {
    d: path(
      "M671 0H0V675H800V208H671V0ZM106 233H12V644H686V233H505V166H106V233Z"
    );
  }
  21.1111% {
    d: path(
      "M671 0H0V675H800V208H671V0ZM106 233H12V644H686V233H505V205H106V233Z"
    );
  }
  24.7777% {
    d: path("M0 0H671V208H800V675H686V276H12V675H0V0Z");
  }
  28.3333% {
    d: path(
      "M0 0H671V208H800V675H618.885L727.942 633.813L582.732 249.32L0 469.397V0ZM0 587.223L33.1504 675H0V587.223Z"
    );
  }
  31.9999% {
    d: path(
      "M0 0H671V208H800V627.022L589.898 308.874L57.375 660.547L66.9197 675H0V0ZM781.312 675L800 662.658V675H781.312Z"
    );
  }
  35.5% {
    d: path(
      "M0 0H671V208H800V404.296L498.928 283.544L341.925 675H0V0ZM784.75 675L800 636.976V675H784.75Z"
    );
  }
  39.1111% {
    d: path("M0 0H671V208H800V322.527L477.513 371.836L523.868 675H0V0Z");
  }
  42.7777% {
    d: path(
      "M0 0H671V208H741.437L482 381.229L678.155 675H0V0ZM678.882 675L800 594.128V675H678.882Z"
    );
  }
  46.3333% {
    d: path(
      "M0 0H671V208H800V217.186L581.933 362.792L733.71 590.101L800 545.838V675H0V0Z"
    );
  }
  42.7777% {
    d: path("M800 0H0V675H674V297H772V271H726V63H800V0Z");
  }
  to {
    d: path("M800 0H0V675H674V297H772V271H726V63H800V0Z");
  }
}
