@import url(/public/css/home-animation.css);

@font-face {
    font-family: Airstrike;
    src: url(/public/fonts/Airstrike.ttf);
}

@font-face {
    font-family: Bahnschrift;
    src: url(/public/fonts/Bahnschrift-Light.TTF);
}

:root {
    --bg-yellow: linear-gradient(172.39deg, rgba(255, 192, 39, 0.2) 10.53%, #FFB800 75%, #FFD044 100%);
    --bg-white-yellow: linear-gradient(180deg, #FFFFFF 0%, #FFFFF9 26.56%, #FFFFF9 55.31%, #FBD673 85.42%, #FFB800 100%);
    --bg-purple-yellow: linear-gradient(95.14deg, #AD1782 0%, #FFD044 100%);
    --black: #000000;
    --white: #FFFFFF;
    --gray: #666666;
    --purple: #AD1782;
    --purple-50: rgba(173, 23, 130, 0.5);;
    --blue: #3E59D5;
    --shade: #2E3A59;
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
}

body {
    font-family: Bahnschrift;
}

section {
    position: relative;
}

a {
    text-decoration: none;
    border: none;
    color: black;
}

h2 {
    font-family: Airstrike;
    color: var(--purple);
    font-size: var(--fs-800);
}

h3 {
    color: var(--purple);
    text-shadow: 1px 1px  0 var(--purple);
}

p {
    line-height: 1.2rem;
}


/* Modal */
#loginmodal img {
    width: 2rem;
    cursor: pointer;
}

#loginmodal .modal-content {
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 2rem 3rem;
    color: var(--purple); 
}

#loginmodal h2 {
    font-size: var(--fs-600);
    margin-bottom: 2rem;
}

#loginmodal .text {
    outline: none;
    border: none;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem; 
}

#loginmodal .text::placeholder {
    color: var(--purple-50);
}

#loginmodal .checkbox {
    border: none;
    background: #FFFFFF;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 5px;
}

#loginmodal button {
    border: none;
    outline: none;
    font-family: Airstrike;
    font-size: var(--fs-600);
    padding: 0.3rem 2rem;
    color: var(--white);
    background: var(--bg-purple-yellow);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#loginmodal a {
    color: var(--purple);
}

#loginmodal a:first-child {
    border-right: 2px solid var(--purple);
    padding-right: 0.25rem;
}

#loginmodal a:last-child {
    padding-left: 0.15rem;
}

/* Hero */
.home {
    z-index: 3;
}
.bg-wrapper {
    background: var(--bg-yellow);
}
.wave-down {
    width: 100vw;
    position: absolute;
    top: -2.8rem;
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 1;
}

/* About Us */
.about-us {
    padding: 6rem 4rem;
}

.about-us .container {
    margin-top: 6rem;
}

.about-us .left .video {
    position: relative;
    z-index: 2;
    width: 35rem;
    height: 20rem;
    margin-right: 3rem;
}
.about-us .left img {
    position: absolute;
    z-index: 1;
    width: 15rem;
    top: -4.5rem;
    left: -4.5rem;
}
.about-us .right{
    width: 40%;
}

.about-us .right h2 {
    margin-bottom: 2rem;
}
.about-us .right p {   
    font-size: var(--fs-500);
    line-height: 1.5rem;
}

.about-us .right img {
    position: absolute;
    width: 4rem;
    top: -2rem;
    right: -2rem;
}

/* Events */
.events {
    padding: 6rem 4rem;
}

.events h2 {
    text-align: center;
    margin-bottom: 2rem;
}

/* Opening */
.events .opening-container {
    max-width: fit-content;
    margin: 0rem auto;
}

.events .opening-container .circle {
    width: 8rem;
    position: absolute;
    z-index: 1;
    top: -3.5rem;
    left: -3.5rem;
}

.events .opening-container .box {
    width: 6rem;
    position: absolute;
    top: 3rem;
    right: -8rem;
}

.events .card-big {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55rem;
    background-color: var(--white);
    padding: 6rem 4rem;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
    /* border: 0.5px solid rgba(0, 0, 0, 0.65); */
    border-radius: 1rem;
    z-index: 2;
}

.events .card-big .image {
    width: 21rem;
    height: 17rem;
}

.events .card-big .card-content {
    height: 17rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.events .card-big .card-content p {
    line-height: 1.2rem;
}

.events .card-big .card-content a {
    width: max-content;
    padding: 0.4rem 1.1rem;
    font-family: Airstrike;
    font-size: var(--fs-500);
    color: var(--white);
    background: var(--bg-purple-yellow);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

/* Business-IT */
.events .business-container {
    max-width: fit-content;
    width: 55rem;
    margin: 4rem auto;
}

.events .business-container .illust {
    width: 10rem;
}

.events .business-container .card-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 27rem;
    background-color: var(--white);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);    
    /* border: 0.5px solid rgba(0, 0, 0, 0.65); */
    border-radius: 1rem;
    padding: 2.5rem 1.5rem;
    margin-left: 3rem;
}

.events .business-container .card-small img {
    width: 9rem;
    margin-bottom: 2rem;
}

.events .business-container .card-small .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events .business-container .card-small h3 {
    font-size: var(--fs-600);
    margin-bottom: 2rem;
}

.events .business-container .card-small p {
    text-align: center;
    font-size: var(--fs-400);
    margin-bottom: 2rem;
}

.events .card-small a {
    width: max-content;
    padding: 0.3rem 2rem;
    font-family: Airstrike;
    font-size: var(--fs-400);
    text-align: center;
    line-height: 1rem;
    color: var(--white);
    background: var(--bg-purple-yellow);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.events .business-container .box {
    width: 7rem;
    position: absolute;
    top: -2rem;
    left: -9rem;
}


/* Workshop */
.events .workshop-container {
    max-width: fit-content;
    width: 55rem;
    margin: 4rem auto;
}

.events .workshop-container .illust {
    width: 10rem;
}

.events .workshop-container .card-medium {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45rem;
    background-color: var(--white);
    padding: 4rem 3rem;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
    /* border: 0.5px solid rgba(0, 0, 0, 0.65); */
    border-radius: 1rem;
    margin-left: 3rem;
}

.events .workshop-container .card-content {
    height: 12rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.events .workshop-container .card-medium img {
    width: 11rem;
}

.events .workshop-container .card-medium h3 {
    font-size: var(--fs-600);
}

.events .workshop-container .card-medium a {
    width: max-content;
    padding: 0.4rem 1.1rem;
    font-family: Airstrike;
    font-size: var(--fs-400);
    color: var(--white);
    background: var(--bg-purple-yellow);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.events .workshop-container .ball {
    width: 4rem;
    position: absolute;
    bottom: 3rem;
    right: -8rem;
}

/* Seminar */
.events .seminar-container {
    max-width: fit-content;
    width: 55rem;
    margin: 4rem auto;
}

.events .seminar-container .illust {
    width: 10rem;
}

.events .seminar-container .card-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 27rem;
    background-color: var(--white);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);    
    /* border: 0.5px solid rgba(0, 0, 0, 0.65); */
    border-radius: 16px;
    padding: 2.5rem 1.5rem;
    margin-left: 3rem;
}

.events .seminar-container .card-small .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events .seminar-container .card-small img {
    width: 9rem;
    margin-bottom: 2rem;
}

.events .seminar-container .card-small h3 {
    font-size: var(--fs-600);
    margin-bottom: 1rem;
}

.events .seminar-container .card-small p {
    text-align: center;
    margin-bottom: 1.5rem;
}

.events .seminar-container .circle {
    width: 12rem;
    position: absolute;
    top: -6rem;
    right: calc(100vw - 17rem);
}

.events .run {
    width: 18rem;
    float: right;
    position: relative;
    right: 6rem;
}

/* FAQ */
.faq {
    padding: 6rem 8rem;
}

.bg-wrapper-faq {
    background: var(--bg-white-yellow);
    overflow-x: hidden;
    z-index: 4;
}

.bg-wrapper-faq .wave-up {
    width: 100vw;
    position: absolute;
    bottom: -2rem;
}

.donut-up {
    width: 10rem;
    position: absolute;
    bottom: 0rem;
    left: calc(100vw - 10rem);
    z-index: 4;
}

.donut-down {
    width: 10rem;
    position: absolute;
    top: 0rem;
    left: calc(100vw - 10rem);
    z-index: 4;
}

.faq h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.faq h3 {
    text-align: center;
    font-size: var(--fs-700);
    color: var(--black);
    text-shadow: none;
    margin-bottom: 4rem;
}

.faq .box {
    background: var(--white);
    border: 0.5px solid rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;
}

.faq .box .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--blue);
    font-size: var(--fs-700);
    margin-bottom: 0.5rem;
}

.clr-purp {
    color: var(--purple) !important;
    transition: 0.2s;
}

.faq .box .top .left span {
    padding: 0.2rem 0rem;
    padding-right: 1rem;
    border-right: 4px solid var(--blue);
    transition: 0.2s;
}

.faq .box .top .left div {
   padding-left: 1rem;
}

.br-purp {
    border-right: 4px solid var(--purple) !important;
    transition: 0.2s;
}

.faq .box .setbox .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.faq .box .setbox .right {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.faq .box .top .right .min{
    width: 1.5rem;
    height: 0.3rem;
    position: absolute;
    top: 0.6rem;    
    left: -0.6rem;
    background-color: var(--shade);
    
}

.faq .box .top .right .plus{
    width: 0.3rem;
    height: 1.5rem;
    background-color: var(--shade);
    transition: 0.5s;
}

.plus-rotate {
    transform: rotate(90deg);
}

.faq .box .bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    font-size: var(--fs-700);
    margin-top: 0.5rem;

    overflow-y: hidden;
	max-height: 0px;
}

.bot-closed {
    max-height: max-content !important;
}

.faq .box .bot .left div {
    font-size: var(--fs-600);
}

.faq .box .bot .left span {
    padding: 0.2rem 0rem;
    padding-right: 1rem;
    border-right: 4px solid var(--gray);
}

.faq .box .bot .left div {
    padding-left: 1rem;
}

/* Sponsors */
.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem;
}

.sponsors h2 {
    margin-bottom: 4rem;
}

.sponsors h3 {
    color: var(--black);
    text-shadow: none;
    font-size: var(--fs-700);
    margin-bottom: 3rem;
}

.sponsors .container-plat img {
    width: 13rem;
    margin: 0.5rem 0.5rem;
}

.sponsors .container-gold img {
    width: 11rem;
    margin: 0.5rem 0.5rem;
}

.sponsors .container-silver img {
    width: 7rem;
    margin: 0.5rem 0.5rem;
}

.sponsors span {
    margin-top: 1rem;
}

.sponsors span h4 {
    font-size: var(--fs-400);
    margin: 0rem;
}

.sponsors span a {
    color: var(--blue);
    cursor: pointer;
}

/* Media Partner */
.medpar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 4rem;
    padding-bottom: 12rem;
}

.medpar h3 {
    color: var(--black);
    text-shadow: none;
    font-size: var(--fs-700);
    margin-bottom: 2rem;
}

.medpar .container-silver {
    width: 55rem;
    flex-wrap: wrap;
}

.medpar .container-silver img {
    width: 7rem;
    margin: 0.5rem 0.5rem;
}

.medpar span {
    margin-top: 2rem;
}

.medpar span h4 {
    font-size: var(--fs-400);
    margin: 0rem;
}

.medpar span a {
    color: var(--blue);
    cursor: pointer;
}

@media (max-width: 1024px) {
    /* About Us */
    .about-us .left .video {
        width: 30rem;
        height: 16rem;
    }

    .about-us .right p {
        font-size: 1rem;
    }

    .about-us .left img {
        width: 12rem;
        top: -3.5rem;
        left: -3.5rem;
    }

    /* Events */
    .events .card-big {
        width: 52rem;
        padding: 5rem 4rem;
    }

    .events .opening-container .box {
        width: 4rem;
        right: -6rem;
    }

    .events .business-container .box {
        width: 5rem;
        left: -4rem;
    }

    .events .business-container {
        width: 52rem;
    }

    .events .business-container .card-small {
        margin-left: 2rem;
    }

    .events .workshop-container {
        width: 52rem;
        margin: 3rem auto;
    }

    .events .workshop-container .illust {
        width: 9rem;
    }

    .events .workshop-container .card-medium {
        padding: 3rem;
    }

    .events .workshop-container .ball {
        right: -6rem;
    }
    
    .events .seminar-container {
        width: 52rem;
    }

    .events .seminar-container .circle {
        right: calc(100vw - 12rem);
    }

    .events .seminar-container .card-small {
        margin-left: 2rem;
    }

    .events .run {
        width: 16rem;
    }

    /* FAQ */
    .faq .box .bot .left div {
        font-size: 1.3rem;
    }

    /* Sponsor */
    .sponsors span h4 {
        font-size: 1.3rem;
    }

    .sponsors span a {
        font-size: 1.3rem;
    }

    /* Medpars */

    .medpar span h4 {
        font-size: 1.3rem;
    }

    .medpar span a {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.5rem;
    }

    /* About Us */
    .about-us {
        padding: 3rem 4rem;
    }

    .about-us .container {
        margin-top: 3rem;
        padding: 0rem 2.4rem;
    }

    .about-us .left .video {
        width: 35rem;
        margin-right: 0rem;
    }
 
    .about-us .right{
        width: 100%;
    }

    .about-us .right h2 {
        margin: 2rem 0rem;
        text-align: center;
    }

    .about-us .right p {
        line-height: 2rem;
    }

    /* Events */
    .events {
        padding: 6rem 4rem;
    }

    .events h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    /* Opening */
    .events .opening-container {
        max-width: fit-content;
        margin: 0rem auto;
    }

    .events .opening-container .circle {
        width: 8rem;
        position: absolute;
        z-index: 1;
        top: -3.5rem;
        left: -3.5rem;
    }

    .events .opening-container .box {
        width: 6rem;
        position: absolute;
        top: 3rem;
        right: -8rem;
    }

    .events .card-big {
        width: 100%;
        padding: 4rem 2rem;
        border-radius: 1.5rem;
        align-items: center;
    }

    .events .card-big .image {
        width: 16rem;
        height: 13rem;
    }

    /* Business-IT */
    .events .business-container {
        max-width: fit-content;
        width: 55rem;
        margin: 4rem auto;
    }

    .events .business-container .illust {
        width: 14rem;
        margin-bottom: 3rem;
    }

    .events .business-container .card-small {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
        border-radius: 1rem;
        padding: 3.5rem 3rem;
        margin-left: 0rem;
        margin-bottom: 3rem;
    }

    .events .business-container .card-small .right {
        align-items: flex-start;
        margin-left: 4rem;
    }

    .events .business-container .card-small img {
        width: 11rem;
        margin-bottom: 0rem;
    }

    .events .business-container .card-small h3 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }

    .events .business-container .card-small p {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }


    /* Workshop */
    .events .workshop-container {
        max-width: fit-content;
        width: 55rem;
        margin: 4rem auto;
    }

    .events .workshop-container .illust {
        width: 11rem;
        margin-bottom: 3rem;
    }

    .events .workshop-container .card-medium {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
        border-radius: 1rem;
        padding: 3.5rem 3rem;
        margin-left: 0rem;
        margin-bottom: 3rem;
    }

    .events .workshop-container .card-content {
        height: 12rem;
        width: 100%;
        margin-left: 3rem;
    }

    .events .workshop-container .card-medium img {
        width: 11rem;
    }

    .events .workshop-container .card-medium p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    
    .events .workshop-container .card-medium a {
        width: max-content;
        padding: 0.3rem 2rem;
        font-family: Airstrike;
        font-size: var(--fs-400);
        text-align: center;
        line-height: 1rem;
        color: var(--white);
        background: var(--bg-purple-yellow);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    /* Business-IT */
    .events .seminar-container {
        max-width: fit-content;
        width: 55rem;
        margin: 4rem auto;
    }

    .events .seminar-container .illust {
        width: 12rem;
        margin-bottom: 3rem;
    }

    .events .seminar-container .card-small {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
        border-radius: 1rem;
        padding: 3.5rem 3rem;
        margin-left: 0rem;
        margin-bottom: 3rem;
    }

    .events .seminar-container .card-small .right {
        align-items: flex-start;
        margin-left: 4rem;
    }

    .events .seminar-container .card-small img {
        width: 11rem;
        margin-bottom: 0rem;
    }

    .events .seminar-container .card-small h3 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }

    .events .seminar-container .card-small p {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .events .run {
        width: 12rem;
        right: 4rem;
    }

    /* FAQ */
    .faq {
        padding: 6rem 4rem;
        padding-bottom: 3rem;
    }

    .wave-down {
        top: -1.5rem;
    }

    .donut-up {
        width: 8rem;
        left: calc(100vw - 8rem);
    }

    .donut-down {
        width: 8rem;
        left: calc(100vw - 8rem);
    }

    .faq h3 {
        font-size: 1.8rem;
    }

    .faq .box {
        padding: 1.5rem 2rem;
        border-radius: 1rem;
    }

    .faq .box .top {
        margin-bottom: 0rem;
    }

    .faq .box .top .left span {
        font-size: 1.7rem;
        padding: 0.1rem 0rem;
        padding-right: 1rem;
    }

    .faq .box .top .left div {
        font-size: 1.7rem;
    }

    .faq .box .bot .left {
        align-items: flex-start;
    }

    .faq .box .bot .left div {
        font-size: 1.2rem;
    }

    .faq .box .bot .left span {
        font-size: 1.7rem;
        padding: 0.1rem 0rem;
        padding-right: 1rem;
    }


    /* Sponsors */
    .sponsors {
        padding: 6rem 4rem;
        padding-top: 3rem;
    }

    .sponsors h2 {
        margin-bottom: 4rem;
    }

    .sponsors h3 {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }

    .sponsors .container-plat img {
        width: 12rem;
    }

    .sponsors .container-gold img {
        width: 9rem;
    }

    .sponsors .container-silver img {
        width: 6rem;
    }

    .sponsors span {
        margin-top: 1rem;
    }

    .sponsors span h4 {
        font-size: 1.5rem;
    }

    .sponsors span a {
        font-size: 1.5rem;
    }

    /* Media Partner */
    .medpar {
        padding: 0rem 4rem;
        padding-bottom: 4rem;
    }

    .medpar h3 {
        font-size: 1.8rem;
    }

    .medpar .container-silver {
        width: 100%;
    }

    .medpar .container-silver img {
        width: 6rem;
        margin: 0.5rem 0.5rem;
    }

    .medpar span {
        margin-top: 1rem;
        margin-bottom: 6rem;
    }

    .medpar span h4 {
        font-size: 1.5rem;
    }

    .medpar span a {
        font-size: 1.5rem;
    }

    .bg-wrapper-faq .wave-up {
        bottom: -1rem;
    }

}

@media (max-width: 428px) {
    /* Login Modal */
    #loginmodal .modal-content {
        padding: 2rem 1rem;
    }

    .modal-dialog {
        padding: 0rem 2rem;
        margin: 0rem;
    }

    #loginmodal button {
        font-size: 1.2rem;
    }

    #loginmodal span {
        font-size: 0.9rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .bg-wrapper .wave-down {
        top: -1rem;
    }

    /* About Us */
    .about-us {
        padding: 3rem 2rem;
    }

    .about-us .container {
        padding: 0rem;
    }

    .about-us .left .video {
        width: 22rem;
    }

    .about-us .right h2 {
        margin: 1.5rem 0rem;
    }

    /* Events */ 
    .events {
        padding: 3rem 2rem;
    }
    
    .events .card-big {
        padding: 2rem 1.5rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }

    .events .card-big .card-content {
        height: 100%;
    }

    .events .card-big .image {
        width: 6rem;
        height: 6rem;
    }

    .events .card-big .card-content {
        width: 100%;
        margin-left: 1.5rem;
    }

    .events .card-big .card-content p {
        font-size: 0.8rem;
    }

    .events .card-big .card-content a {
        width: max-content;
        padding: 0.3rem 1.5rem;
        font-family: Airstrike;
        font-size: 1rem;
        text-align: center;
        line-height: 1rem;
        color: var(--white);
        background: var(--bg-purple-yellow);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .events .business-container {
        width: 100%;
        margin: 2rem auto;
    }

    .events .business-container .illust {
        width: 10rem;
    }

    .events .business-container .card-small {
        padding: 2rem 1.5rem;
    }

    .events .business-container .card-small:nth-child(3) {
        margin-bottom: 0rem;
    }

    .events .business-container .card-small img {
        width: 6rem;
        height: 6rem;
    }

    .events .business-container .card-small .right {
        margin-left: 1.5rem;
    }

    .events .business-container .card-small h3 {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .events .business-container .card-small p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin-bottom: 1rem;
    }

    .events .card-small a {
        width: max-content;
        padding: 0.3rem 1.5rem;
        font-family: Airstrike;
        font-size: 1rem;
        text-align: center;
        line-height: 1rem;
        color: var(--white);
        background: var(--bg-purple-yellow);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .events .workshop-container {
        width: 100%;
    }

    .events .workshop-container .illust {
        width: 8rem;
    }

    .events .workshop-container .card-medium img {
        width: 6rem;
        height: 6rem;
    }

    .events .workshop-container .card-medium {
        align-items: center;
        padding: 2rem 1.5rem;
        margin-bottom: 0rem;
    }

    .events .workshop-container .card-content {
        height: 100%;
        margin-left: 1.5rem;
        justify-content: center;
    }

    .events .workshop-container .card-medium h3 {
        font-size: 1.2rem;
    }
    
    .events .workshop-container .card-medium p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .events .workshop-container .card-medium a {
        width: max-content;
        padding: 0.3rem 1.5rem;
        font-family: Airstrike;
        font-size: 1rem;
        text-align: center;
        line-height: 1rem;
        color: var(--white);
        background: var(--bg-purple-yellow);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .events .seminar-container .illust {
        width: 8rem;
    }

    .events .seminar-container {
        width: 100%;
        margin: 2rem auto;
    }

    .events .seminar-container .card-small {
        padding: 2rem 1.5rem;
    }

    .events .seminar-container .card-small:nth-child(3) {
        margin-bottom: 0rem;
    }

    .events .seminar-container .card-small img {
        width: 6rem;
        height: 6rem;
    }

    .events .seminar-container .card-small .right {
        margin-left: 1.5rem;
    }

    .events .seminar-container .card-small h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .events .seminar-container .card-small p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin-bottom: 1rem;
    }

    .events .run {
        width: 8rem;
        right: 2rem;
    }

    /* FAQ */
    .donut-up {
        width: 4rem;
        left: calc(100vw - 4rem);
    }

    .donut-down {
        width: 4rem;
        left: calc(100vw - 4rem);
    }

    .bg-wrapper-faq .wave-down {
        top: -0.5rem;
    }

    .faq {
        padding: 3rem 2rem;
    }

    .faq h3 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .faq .box {
        border-radius: 0.5rem;
        padding: 1rem 2rem;
    }

    .faq .box .top .left span {
        font-size: 1.5rem;
        padding: 0rem;
        padding-right: 1rem;
    }

    .faq .box .top .left div {
        font-size: 1.5rem;
    }

    .faq .box .setbox .right {
        width: 1rem;
        height: 1rem;
    }

    .faq .box .top .right .min {
        width: 1rem;
        height: 0.2rem;
        top: 0.4rem;
        left: -0.4rem;
    }

    .faq .box .top .right .plus {
        width: 0.2rem;
        height: 1rem;
    }

    .faq .box .bot .left span {
        font-size: 1.5rem;
        padding: 0rem;
        padding-right: 1rem;
    }

    .faq .box .bot .left div {
        font-size: 1rem;
    }

    /* Sponsors */
    .sponsors {
        padding: 3rem 2rem;
    }

    .sponsors h2 {
        margin-bottom: 3rem;
    }

    .sponsors h3 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .sponsors .container-plat img {
        width: 9rem;
    }

    .sponsors .container-gold img {
        width: 6rem;
    }

    .sponsors .container-silver img {
        width: 3.5rem;
    }

    .sponsors span h4 {
        font-size: 1.2rem;
    }

    .sponsors span a {
        font-size: 1.2rem;
    }

    .medpar {
        padding: 0rem 2rem;
    }

    .medpar h3 {
        font-size: 1.5rem;
    }

    .medpar .container-silver img {
        width: 3.5rem;
    }

    .medpar span h4 {
        font-size: 1.2rem;
    }

    .medpar span a {
        font-size: 1.2rem;
    }

    .bg-wrapper-faq .wave-up {
        bottom: 0rem;
    }
}

@media (max-width: 320px) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
    /* About Us */
    .about-us {
        padding: 1.5rem 2rem;
    }

    .about-us .container {
        margin-top: 1rem;
    }
    
    .about-us .left .video {
        width: 100%;
        height: 9rem;
    }

    .about-us .right p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    /* Events */
    .events {
        padding: 1.5rem 2rem;
    }

    .events .card-big,
    .events .business-container .card-small,
    .events .workshop-container .card-medium,
    .events .seminar-container .card-small {
        padding: 1rem;
        border-radius: 0.6rem;
    }

    .events .business-container .card-small h3,
    .events .workshop-container .card-medium h3,
    .events .seminar-container .card-small h3 {
        font-size: 1rem;
    }

    .events .card-big .image,
    .events .business-container .card-small img,
    .events .workshop-container .card-medium img,
    .events .seminar-container .card-small img {
        width: 4rem;
        height: 4rem;
    }

    .events .card-big .card-content p,
    .events .business-container .card-small p,
    .events .workshop-container .card-medium p,
    .events .seminar-container .card-small p {
        font-size: 0.7rem;
        line-height: 0.9rem;
    }

    .events .card-big .card-content a,
    .events .card-small a,
    .events .workshop-container .card-medium a {
        font-size: 0.8rem;
        padding: 0.2rem 0.8rem;
        line-height: 0.7rem; 
    }

    .events .business-container .illust {
        width: 8rem;
    }

    .events .workshop-container .illust,
    .events .seminar-container .illust {
        width: 7rem;
    }

    .events .run {
        width: 6rem;
        right: 1rem;
    }

    .donut-up {
        width: 3rem;
        left: calc(100vw - 3rem);
    }

    .donut-down {
        width: 3rem;
        left: calc(100vw - 3rem);
    }

    /* FAQ */
    .faq {
        padding: 1.5rem 2rem;
    }
    .faq h2 {
        margin-bottom: 1rem;
    }

    .faq h3 {
        font-size: 1.2rem;
    }

    .br-purp {
        border-right: 3px solid var(--purple) !important;
    }

    .faq .box .top .left span {
        font-size: 1.2rem;
        padding-right: 0.8rem;
        border-right: 3px solid var(--blue);
    }

    .faq .box .top .left div {
        font-size: 1.2rem;
        padding-left: 0.8rem;
    }

    .faq .box .bot .left span {
        font-size: 1.2rem;
        padding-right: 0.8rem;
        border-right: 3px solid var(--gray);
    }

    .faq .box .bot .left div {
        font-size: 0.8rem;
        padding-left: 0.8rem;
    }

    /* Sponsors */
    .sponsors {
        padding: 1.5rem 2rem;
    }

    .sponsors h3 {
        font-size: 1.2rem;
        margin-bottom: 2rem
    }

    .sponsors .container-plat img {
        width: 6.5rem;
        margin: 0.3rem 0.3rem;
    }

    .sponsors .container-gold img {
        width: 4.5rem;
        margin: 0.3rem 0.3rem;
    }

    .sponsors .container-silver {
        flex-wrap: wrap;
    }

    .sponsors .container-silver img {
        width: 3rem;
        margin: 0.3rem 0.3rem;
    }

    .sponsors span h4,
    .sponsors span a,
    .medpar span h4,
    .medpar span a {
        font-size: 0.9rem;
    }

    .medpar .container-silver img {
        width: 3rem;
        margin: 0.3rem 0.3rem;
    }

    .medpar h3 {
        font-size: 1.2rem;
    }
}